/* Colors */
:root {
  --primary-text: #fff;
  --primary-text-muted: #aaa;
  --grad-primary: #df6277ff;

  --background: #15181c;
  --accent: #21242b;
  --accent-light: #313540;

  --code: #313540;

  --disabled: #666;

  --rainbow: linear-gradient(90deg,
    hsl(0, 100%, 30%),
    hsl(30, 100%, 30%),
    hsl(60, 100%, 30%),
    hsl(90, 100%, 30%),
    hsl(120, 100%, 30%),
    hsl(150, 100%, 30%),
    hsl(180, 100%, 30%),
    hsl(210, 100%, 30%),
    hsl(240, 100%, 30%),
    hsl(270, 100%, 30%),
    hsl(300, 100%, 30%),
    hsl(330, 100%, 30%),
    hsl(360, 100%, 30%)
  );

  --rainbow-dark: linear-gradient(90deg,
    hsl(0, 100%, 20%),
    hsl(30, 100%, 20%),
    hsl(60, 100%, 20%),
    hsl(90, 100%, 20%),
    hsl(120, 100%, 20%),
    hsl(150, 100%, 20%),
    hsl(180, 100%, 20%),
    hsl(210, 100%, 20%),
    hsl(240, 100%, 20%),
    hsl(270, 100%, 20%),
    hsl(300, 100%, 20%),
    hsl(330, 100%, 20%),
    hsl(360, 100%, 20%)
  );

  --rainbow-light: linear-gradient(90deg,
    hsl(0, 100%, 40%),
    hsl(30, 100%, 40%),
    hsl(60, 100%, 40%),
    hsl(90, 100%, 40%),
    hsl(120, 100%, 40%),
    hsl(150, 100%, 40%),
    hsl(180, 100%, 40%),
    hsl(210, 100%, 40%),
    hsl(240, 100%, 40%),
    hsl(270, 100%, 40%),
    hsl(300, 100%, 40%),
    hsl(330, 100%, 40%),
    hsl(360, 100%, 40%)
  );



  --primary: hsl(350, 66%, 63%);
  --link: hsl(214, 46%, 52%);
  --info: hsl(274, 32%, 42%);
  --success: hsl(145, 27%, 59%);
  --warn: hsl(49, 85%, 69%);
  --danger: hsl(17, 95%, 70%);

  --primary-dark: hsl(350, 66%, 55%);
  --link-dark: hsl(214, 46%, 42%);
  --info-dark: hsl(274, 32%, 32%);
  --success-dark: hsl(145, 27%, 49%);
  --warn-dark: hsl(49, 85%, 60%);
  --danger-dark: hsl(17, 95%, 65%);

  --primary-light: hsl(350, 66%, 70%);
  --link-light: hsl(214, 46%, 67%);
  --info-light: hsl(274, 32%, 56%);
  --success-light: hsl(145, 27%, 67%);
  --warn-light: hsl(49, 85%, 79%);
  --danger-light: hsl(17, 95%, 80%);
  
  background: var(--background);
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --code: #F6F8FA;
    --primary-text: #333;
    --primary-text-muted: #666;
    --background: #ffffff;
    --accent: #e0e0e0;
    --accent-light: #d0d0d0;
    
    background: var(--background);
    color-scheme: light;
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, system-ui, sans-serif;
  color: var(--primary-text);
}

.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/background/prism-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img,
iframe {
  max-width: min(100%);
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a {
  color: var(--link);
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

blockquote {
  border-left: var(--primary) 0.25em solid;
  padding: 0.5em;
  margin: 0;
}

code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  border-radius: 1em;
}

:not(pre) > code {
  border-radius: 0.15em;
}

.top {
  margin-top: 1em;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background: var(--code);
  color: white;
  overflow: auto;
}

code {
  word-break: break-all;
  color: #f8f8f2;
  background: var(--code);
}

:not(pre)>code {
  padding: 0.18em;
}

@media (prefers-color-scheme: light) {
  code {
    color: #1F2328;
  }
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line+br {
  display: none;
}

.highlight-line-isdir {
  color: #b00808;
  background: #222;
}

.highlight-line-active {
  background: #444;
  background: hsla(0, 0%, 27%, 0.8);
}

.highlight-line-add {
  background: #45844b;
}

.highlight-line-remove {
  background: #902f2f;
}

.container {
  max-width: 90em;
  margin: 0 auto;
  position: relative;
}

.content {
  background: var(--background);
  border-radius: 1em;
  padding: 1em;
}

.center {
  text-align: center;
  margin: auto;
}

.infobox {
  background: var(--accent);
  padding: 1em;
  border-radius: 1em;
}

.button {
  display: inline-block;
  border: none;
  position: relative;
  color: white;
  padding: 0.5em 1.5em;
  list-style: none;
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  background: var(--rainbow);
  border-radius: .365em;
  transition: 200ms ease;
  background-position-x: 100%;
  cursor: pointer;
}

.button[disabled] {
  opacity: .5;
  pointer-events: none;
}

.button:hover {
  background: var(--rainbow-dark);
}

.button.type-link {
  background: var(--rainbow);
}

.button.type-link:hover {
  background: var(--rainbow-dark);
}

.button.type-info {
  background: var(--rainbow);
}

.button.type-info:hover {
  background: var(--rainbow-dark);
}

.button.type-success {
  background: var(--rainbow);
}

.button.type-success:hover {
  background: var(--rainbow-dark);
}

.button.type-warn {
  background: var(--warn);
  color: #000
}

.button.type-warn:hover {
  background: var(--warn-dark);
  color: #000
}

.button.type-danger {
  background: var(--danger);
}

.button.type-danger:hover {
  background: var(--danger-dark);
}

.button.size-large {
  font-size: 1.5em;
}

.button.size-small {
  font-size: 1em;
}

/* Direct Links / Markdown Headers */
.direct-link {
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a.direct-link,
a.direct-link:visited {
  color: transparent;
}

a.direct-link:focus,
a.direct-link:focus:visited,
:hover>a.direct-link,
:hover>a.direct-link:visited {
  color: #aaa;
}

.download-links {
  padding: 0;
}

.download-links li {
  display: inline;
  margin: 0.25em;
}

/* Landing page */

.row {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.column img {
  height: auto;
}

.subtitle {
  font-size: 1.5em;
  text-align: center;
}

/* card */
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
}

.card {
  flex: 1;
  padding: 1em;
  text-align: center;
  background: var(--accent);
}

.card .button {
  width: 100%;
  margin: 0;
}

/* Notifications */
.notification {
  border-radius: 1em;
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  margin-bottom: 1em;
  color: #fff;
}

.notification.type-primary {
  background: var(--rainbow);
}

.notification.type-link {
  background: var(--rainbow);
}

.notification.type-info {
  background: var(--rainbow);
}

.notification.type-success {
  background: var(--rainbow-light);
}

.notification.type-warn {
  background: var(--warn);
  color: #000
}

.notification.type-danger {
  background: var(--danger);
}

/* footer */
.footer {
  text-align: center;
  padding: 2em;
  color: #fff;
}


@media (min-width: 64em) {

  /* landing page */
  .row {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .column {
    flex: 50%;
  }

  .wiki-content {
    padding-left: 1em;
  }

  .cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    align-self: flex-start;
  }
}
