header:after {
  content: "";
  display: table;
  clear: both;
}

.home {
  color: var(--primary-text);
  height: 3.5em;
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
nav {
  padding: 0.5em;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  border-radius: 0 0 1em 1em;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar,
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.social-links i {
  font-size: 1.75em;
  margin: 0.25em;
  color: var(--primary-text);
}

.social-links i:hover {
  color: var(--primary);
  cursor: pointer;
}

.links .button {
  font-size: 1.2em;
}

.navbar {
  flex-direction: column;
}

.nav-item {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.5em;
}

.nav-item a {
  color: var(--primary-text);
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  font-size: 1.25em;
}

.hero {
  position: relative;
  color: white;
  z-index: 0;
}


.hero-title {
  font-size: 3em;
}

header .container {
  flex-direction: column;
}

header .links {
  flex-direction: column;
}

@media (min-width: 64em) {
  nav {
    justify-content: space-between;
  }

  .navbar {
    flex-direction: row;
  }

  header .container {
    flex-direction: row;
  }
  header .links {
    flex-direction: row;
  }
}