header {
    border-bottom: .15em dashed var(--accent);
}

header:after {
    content: "";
    display: table;
    clear: both;
}

.home {
    display: flex;
    align-items: center;
    font-size: 1.75em;
    text-decoration: none;
}

.home img {
    width: 2em;
    height: 2em;
    max-width: 2em;
    margin-right: .3em;
}

.home :link:not(:hover) {
    text-decoration: none;
}

/* Nav */
nav {
    padding: 0.5em;
    overflow: auto;
    font-family: Heebo;
    display: flex;
    justify-content: center;
}

.nav {
    padding: 0;
    margin: 0;
}

.navbar, .links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.navbar {
    flex-direction: column;
}

.nav-item {
    display: inline-block;
    font-size: 18px;
    margin: 0.5em;
}

.nav-item a {
    color: var(--primary-text);
    text-decoration: none;
}

.nav-item-active {
    font-weight: 700;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ hero.background | url }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.hero-title {
    font-size: 3em;
}

header > .container {
    flex-direction: column;
}

@media (min-width: 60em) {
    nav {
        justify-content: space-between;
    }

    .nav {
        margin-left: 1em;
    }
    
    .navbar {
        flex-direction: row;
    }

    header > .container {
        flex-direction: row;
    }
}
