<style>
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ hero.background }}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: white;
    }
    .row {
        display: flex;
    }
    .column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 50%;
        padding: 20px;
    }
    .hero-content {
        text-align: center;
    }
    .hero-title {
        font-size: 48px;
        font-family: Heebo;
    }
    .hero-subtitle {
        font-size: 24px;
    }
    .hero-image {
        width: 100%;
    }
    @media only screen and (max-width: 1400px) {
        .row {
            flex-direction: column;
        }
    }
</style>
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="hero-content">
                    <h1 class="hero-title">{{ hero.title }}</h1>
                    <p class="hero-subtitle">{{ hero.description }}</p>
                    <br>
                    {% if hero.download == true %}
                        <a class="button" href="{{ '/download' | url }}">Download Now</a>
                    {% endif %}
                </div>
            </div>
            {% if hero.image %}
            <div class="column">
                <img class="hero-image" src="{{ hero.image }}" alt="Hero Image">
            </div>
            {% endif %}
        </div>
    </div>
</div>