:root {
    --custom-icon-size: 24px;
}

.fa-matrix-org::before {
    content: "";
    background-image: url("https://github.com/vector-im/logos/blob/master/matrix/matrix-favicon.png?raw=true");
    filter: invert(100%);
    background-size: var(--custom-icon-size) var(--custom-icon-size);
    width: var(--custom-icon-size);
    height: var(--custom-icon-size);
    display: inline-block;
}
