.user-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    padding: 0;
}

.user-info {
    position: relative; 
    margin: 0.5em;
    width: 10em;
    border-radius: 1em;
    overflow: hidden;
    background-color:var(--background);
    text-decoration: none;
    color: var(--primary-text);
    max-height: 10em;
}

.user-contrib {
    width: 3em;
    background-color: var(--accent);
}

.user-contrib:hover {
    border: 0.2em solid var(--primary);

}

.user-info img {
    display: block;
    width: 100%;
    height: auto;
}

.user-name {
    color: white;
    font-size: 1.2em;
    overflow-wrap: break-word;
    text-align: center;
}

.user-info-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--primary);
}

.user-info:hover .user-info-overlay {
    opacity: 1;
}