.wiki-content {
  flex-basis: 0;
  flex-grow: 1;
}

.wiki-toc {
  background-color: var(--accent);
  padding: 1em;
}

.wiki-toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wiki-category {
  margin-bottom: 1em;
}

.wiki-category > a {
  font-size: 1.2em;
  font-weight: 700;
  font-family: Heebo, sans-serif;
  text-decoration: none;
}

.wiki-category-active > a {
  text-decoration: underline;
}

.wiki-item {
  border-left: var(--primary) 0.25em solid;
  padding: 0.5em;
}

.wiki-item > a[href] {
  text-decoration: none;
  color: var(--primary-text);
}

.wiki-item-active {
  text-decoration: underline;
}

.wiki-category > a:hover,
.wiki-item:hover {
  text-decoration: underline;
}
