.wiki-content h1, .wiki-content h2 {
    border-bottom: 2px solid var(--primary-text-muted);
}

.wiki-content.wiki-content {
  border-radius: 1em 1em 0 0;
}

.wiki-content {
  margin-top: 1em;
}

.wiki-toc {
  padding: 1em 0 1em 1em;
  background-color: var(--accent);
  border-radius: 0 0 1em 1em;
  font-size: 1em;
  /* Reset */
  flex: 1;
}

.wiki-toc ul {
  list-style: none;
  padding: 0;
}

.wiki-toc [href] {
  color: var(--primary-text-muted);
} 

/* RAINBOW!!!!! */
.wiki-toc>ul>li:nth-child(3n + 1) {
  --toc-header-rainbow: var(--primary)
}
.wiki-toc>ul>li:nth-child(3n + 2) {
  --toc-header-rainbow: var(--danger)
}
.wiki-toc>ul>li:nth-child(3n + 3) {
  --toc-header-rainbow: var(--warn)
}
.wiki-toc>ul>li:nth-child(3n + 4) {
  --toc-header-rainbow: var(--success)
}
.wiki-toc>ul>li:nth-child(3n + 5) {
  --toc-header-rainbow: var(--link)
}
.wiki-toc>ul>li:nth-child(3n + 6) {
  --toc-header-rainbow: var(--info)
}

.wiki-toc>ul>li.toggle>details>summary [href], .wiki-toc>ul>li.section [href]{
  color: var(--toc-header-rainbow);
  font-weight: bold;
}

.wiki-toc .section, .toggle>details>summary{
  padding: 0.6em;
  border-radius: 1em 0 0 1em;
}


/* fold dropdown + icon */
summary {
  position: relative;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-muted);
}

.toggle:not(.wiki-toc-active) > details[open] > summary {
  background-color: var(--accent-light);
}

/* Menus nested 2 or more deep */
.wiki-toc-list {
  margin: 0;
}

.wiki-toc-list ul {
  padding-bottom: 0;
  padding-left: 0.625rem;
  /* 10px /16 */
}

.wiki-toc-list a {
  text-decoration: none;
}

.wiki-toc-list>li {
  flex-grow: 1;
  flex-basis: 14.375rem;
  /* 230px /16 */
}

/* Active links */
.wiki-toc-active.section, .wiki-toc-active.toggle>details>summary {
  background-color: var(--background);
}

.section:hover, .toggle summary:hover {
  background-color: var(--accent-light);
}

/* Show only active nested lists */
.wiki-toc-list ul.wiki-toc-active,
.wiki-toc-list li.wiki-toc-active>ul {
  display: block;
}

.inlinelist {
  padding: 0;
}

.inlinelist-no-nest ul,
.inlinelist-no-nest ol {
  display: none;
}

.wiki-tag {
  display: inline;
}

.wiki-tag a {
  display: inline-flex;
  /* 12px /16 */
  padding: 0.3em 0.3em;
  margin: 0.5em 0.5em 0.5em 0;
  color: var(--link);
  background-color: var(--accent);
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

.wiki-tag:hover a {
  text-decoration: underline;
}

.wiki-tag-active a {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 64em) {
  .wiki-content {
    width: 80%
  }
  .wiki-content.wiki-content {
    border-radius: 0 1em 1em 0;
  }
  .wiki-toc {
    border-radius: 1em 0 0 1em;
    margin-top: 1em;
  }
}
