<!doctype html>
<html lang="en">
  <head>
    {%- set css %}
    {% include "components/header.css" %}
    {% include "components/prism-theme.css" %}
    {% include "components/wiki.css" %}
    {% include "components/download.css" %}
    {% include "components/news.css" %}
    {% include "components/users.css" %}
    {% include "index.css" %}
    {% endset %}
    <style>{{css | cssmin | safe}}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }} - {{ title or eleventyNavigation.key }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/img/favicon.png' | url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/inter/index.css' | url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/inter/600.css' | url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/inter/700.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/forkawesome/css/fork-awesome.min.css' | url }}">
    <!-- incredibly based web app to make mod lists at https://moddermore.vercel.app -->
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
