<!doctype html>
<html lang="en">
  <head>
    {% set css %}
      {% include "index.css" %}
      {% include "components/hero.css" %}
      {% include "components/header.css" %}
      {% include "components/prism-theme.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }} - {{ eleventyNavigation.key or title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}"> 
    <link rel="icon" type="image/png" sizes="128x128" href="{{ '/assets/img/favicon.png' | url }}">
  </head>
  <body>
    <header>
      {% block header %}
        {% include "partials/header.njk" %}
        {% if hero %}
        {% include "partials/hero.njk" %}
        {% endif %}
      {% endblock %}
    </header>
    <main class="container">
      {{ content | safe }}
    </main>
    <footer>
      {% include "partials/footer.njk" %}
    </footer>
  </body>
</html>