---
layout: layouts/main.njk
eleventyComputed:
  hero:
    title: "Downloads"
    description: "Download Prism Launcher {{version.current}}"
---
<style>
  .background {
    filter: brightness(80%);
  }
</style>

<div class="notification type-warn">
  <b>Flathub package has not yet been published</b>, approval is in process expect it soon, sorry steam deck users.
</div>

{{ collections.download | eleventyNavigation | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key, listClass: 'download-tab-list', activeListItemClass: 'download-tab-active' }) | safe }}

{{ content | safe }}