---
layout: layouts/main.njk
eleventyComputed:
  hero:
    title: "Downloads"
    description: "Download Prism Launcher {{version.current}}"
---
<script>
  function appendToURL(url, path) {
    if (!url.pathname.endsWith("/")) {
      url.pathname += "/"; // if there isn't a slash, add it
    }
    url.pathname += path;
  }

  let url = new URL(window.location.href);
  if (url.searchParams.get("from") === "button") {
    url.searchParams.delete("from"); // don't eternally redirect

    // redirect the user to the correct place 
    if (navigator.platform.indexOf("Mac") !== -1) {
      appendToURL(url, "mac");
      window.location.href = url.href;
    } else if (navigator.platform.indexOf("nix") !== -1 || navigator.platform.indexOf("nux") !== -1 || navigator.platform.indexOf("X11") !== -1) {
      appendToURL(url, "linux");
      window.location.href = url.href;
    }
  }
</script>
<style>
  .background {
    filter: brightness(80%);
  }
</style>

{{ collections.download | eleventyNavigation | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key, listClass: 'download-tab-list', activeListItemClass: 'download-tab-active' }) | safe }}

{{ content | safe }}
