{% extends "layouts/base.njk" %}
{% block hero %}
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="hero-content">
            <h1 class="hero-title">PolyMC</h1>
            <p class="hero-subtitle">An Open Source Minecraft launcher with the ability to manage multiple instances, accounts and mods. Focused on user freedom and free redistributability.</p>
            <br>
            <a class="button" href="{{ '/download' | url }}">Download Now</a>
          </div>
        </div>
        <div class="column">
          <img class="hero-image" src="/img/screenshots/LauncherBlack.png">
        </div>
      </div>
    </div>
  </div>
{% endblock %}