---
layout: layouts/base.njk
templateClass: tmpl-home
---
{% include "partials/header.njk" %}

<main class="container {{ templateClass }}">
  {{ content | safe }}
</main>

<footer>
  {% include "partials/footer.njk" %}
</footer>
