---
layout: layouts/base.njk
templateClass: tmpl-home
---
{% include "partials/header.njk" %}

{% if background %}
  {% image "Background", background, "", "background", false %}
{% endif %}

<main class="container {{ templateClass }}">
  {{ content | safe }}
</main>

<footer>
  {% include "partials/footer.njk" %}
</footer>
