---
layout: layouts/main.njk
templateClass: tmpl-wiki
---
<div class="row row-reverse">
  <div class="wiki-content content">
    {{ content | safe }}
    
    {% if eleventyNavigation and eleventyNavigation.key %}
    {%- set navKey = eleventyNavigation.parent or eleventyNavigation.key -%}
    {%- set otherPages = collections.wiki | eleventyNavigation(navKey) -%}
    {% if otherPages.length > 0 %}
    <hr>
    <h3>{% if eleventyNavigation.parent %}Pages in {% endif %}{{ navKey }}:</h3>
    {{ otherPages | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key, listClass: 'inlinelist inlinelist-no-nest', listItemClass: 'wiki-tag', activeListItemClass: 'wiki-tag-active' }) | safe }}
    {% endif %}

    {% endif %}
    {% if comments != false %}
      {% include "partials/comments.njk" %}

      <script src="https://giscus.app/client.js"
        data-repo="PrismLauncher/prismlauncher.org"
        data-repo-id="R_kgDOIPwAOw"
        data-category="Wiki"
        data-category-id="DIC_kwDOIPwAO84ChtRp"
        data-mapping="{{ page.url }}"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_gray"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
      </script>
    {% endif %}
  </div>
  <div class="wiki-toc">
    {%- if eleventyNavigation -%}
      {%- set navKey = eleventyNavigation.key -%}
    {%- endif -%}
    {% set navPages = collections.wiki | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
    
    {%- if entry.children.length -%}
    <li class="toggle {% if entry.url == page.url %}wiki-toc-active{% endif %}">
      {% macro openDetails(entry) -%}
        {% if entry.url == page.url %}
        open
        {% else %}
        {% for child in entry.children %}
          {{ openDetails(child) }}
        {% endfor %}
        {% endif %}
      {% endmacro %}
      <details {{ openDetails(entry) }}>
        <summary>
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        </summary>
        <ul>
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      </details>
    </li>
    {%- else -%}
    <li class="section {% if entry.url == page.url %}wiki-toc-active{% endif %}">
      <a href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
    {% endif %}
    </li>
    {%- endmacro %}

    <ul class="wiki-toc-list">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
  </div>
</div>