---
import Button from "./ui/Button.astro";
import DownloadButton from "./ui/DownloadButton.astro";
---

<section
	class="max-w-none p-4 sm:p-6 flex flex-col items-center text-center gap-4 sm:text-left sm:flex-row sm:justify-start"
>
	<div class="sm:flex-1">
		<h1 class="heading-1 mb-6">Prism Launcher</h1>
		<p class="font-medium text-lg mb-6">
			An open-source Minecraft launcher with the ability to manage multiple
			instances, accounts and mods. Focused on user freedom and free
			redistributability.
		</p>
		<div class="not-prose">
			<DownloadButton size="lg" />
		</div>
	</div>

	<picture class="sm:flex-1 not-prose">
		<source
			media="(prefers-color-scheme: dark)"
			srcset="/img/screenshots/landing/linux_dark.png"
			id="hero-screenshot-dark"
		/>
		<img
			src="/img/screenshots/landing/linux_light.png"
			alt="Prism Launcher screenshot showing off various different modpacks and instances"
			id="hero-screenshot-light"
		/>
	</picture>
</section>

<script>
	import { detectOS } from "../scripts/detectOS";

	const os = detectOS();
	const darkSource = document.getElementById(
		"hero-screenshot-dark",
	) as HTMLSourceElement;
	const lightImg = document.getElementById(
		"hero-screenshot-light",
	) as HTMLImageElement;

	if (darkSource && lightImg) {
		darkSource.srcset = `/img/screenshots/landing/${os}_dark.png`;
		lightImg.src = `/img/screenshots/landing/${os}_light.png`;
	}
</script>
