---
layout: layouts/page.njk
eleventyNavigation:
  key: Home
  order: 1
hero:
  title: 'PolyMC'
  description: 'An Open Source Minecraft launcher with the ability to manage multiple instances, accounts and
  mods. Focused on user freedom and free redistributability.'
  image: /assets/img/screenshots/LauncherBlack.webp
  background: /assets/img/forest.webp
  download: true
---

<div class="center">
  <h1>Main Features</h1>
  <hr>
</div>

<div class="row row-reverse">
  <div class="column">
    <div class="ccontent">
        <h1>Modpack management</h1>
        <div class="subtitle">
          Install and launch modpacks easily, while keeping them clean.
          No longer do you need to manually install and update. PolyMC can do that for you, without installing tons of separate launchers
        </div>
    </div>
  </div>
  <div class="column">
      <img class="hero-image" src="{{ '/assets/img/screenshots/ModInstallBlack.webp' | url }}" alt="Hero Image">
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="ccontent">
        <h1>Minecraft instance management </h1>
        <div class="subtitle">
          <p>Did your settings ever reset after launching an older version? Did you ever accidentally break a world because you opened it in an old version?
          Are you tired of manually switching mods for different versions, installing modloaders?<p>
          <p>PolyMC can help. Each Minecraft instance has it's own folder, with separate mods, resourcepacks and other things.</p>
        </div>
        <br>
    </div>
  </div>
  <div class="column">
      <img class="hero-image" src="{{ '/assets/img/screenshots/PropertiesBlack.webp' | url }}" alt="Hero Image">
  </div>
</div>
<div class="row row-reverse">
  <div class="column">
    <div class="ccontent">
        <h1>Lightweight</h1>
        <div class="subtitle">
          You don't need an embedded web browser for a game launcher. PolyMC uses the Qt toolkit, which requires little system resources.
        </div>
    </div>
  </div>
  <div class="column">
      <img class="hero-image" src="{{ '/assets/img/screenshots/LauncherCatBlack.webp' | url }}" alt="Hero Image">
  </div>
</div>

<div class="center">
  <h1>Get Involved</h1>
  <hr>
</div>
