---
layout: layouts/main.njk
tags: nav
eleventyNavigation:
  key: News
  order: 2
hero:
  title: 'Latest News'
  description: 'The latest and greatest news regarding updates, changes and more. Prism Launcher now supports viewing news directly in the Launcher by clicking the news icon at the bottom of the window.'
  image:
    dark: ./src/img/screenshots/LauncherUpdateDark.png
    light: ./src/img/screenshots/LauncherUpdateLight.png
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
