---
layout: layouts/main.njk
title: Successful Login
hero:
  title: Successful Login
---

<div class="content compact">
    <div class="column" style="flex-direction:column">
      <div class="row">
        <div class="subtitle">
          You have successfully logged in to Prism Launcher using your Microsoft account!
          <p><u><i>You can close this window</i></u><p>
        </div>
      </div>
      <div class="row" style="flex-direction:column;gap:1em;">
        <a class="button size-large fullwidth type-link" href="https://opencollective.com/prismlauncher" target="_blank">Support Prism Launcher</a>
        <a class="button size-large fullwidth type-info" href="https://prismlauncher.org/wiki/getting-started/">Getting Started Guide</a>
      </div>
    </div>
  </div>
</div>
