<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }} - {{ eleventyNavigation.key or title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}"> {% favicon './img/icon.svg' %}
  </head>
  <body>
    <header>
      <nav class="container">
        <ul class="navbar">
          <li class="nav-item">
            <a href="{{ '/' | url }}" class="home">
              <img src="{{ "/img/icon.svg" | url }}"> {{ metadata.title }}
            </a>
          </li>
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
        <ul class="links">
          <li class="download">
            <a href="{{ '/downloads/' | url }}">Download</a>
          </li>
          <li class="github">
            <a href="https://github.com/PolyMC/PolyMC">Github</a>
          </li>
        </ul>
      </div>
    </header>
    {% block hero %}{% endblock %}
    <main class="container">
      {{ content | safe }}
    </main>
    <footer></footer>
  </body>
</html>