<div class="infobox">
    <details class="notification type-info">
        <summary style="color: white">
            Comment Rules
        </summary>
        <div>
{% markdown %}
By submitting a comment, you agree to uphold the [Prism Launcher Code of Conduct](prismlauncher.org/wiki/overview/code-of-conduct/).

✅ What user-contributed comments are for

* Share additional information relevant to the article.
* Mention a workaround for a common issue.
* Link to useful third-party resources that are relevant to the current page, such as tutorials or articles.
    * It is allowed to occasionally link to resources you've created. When doing so, you must disclose your affiliation with the resource in some way. However, linking to resources you've created should not represent the majority of your interactions with user notes. Excessive self-promotion is not allowed and will be moderated away.

🚫 What user-contributed comments are not for

* Do not point out something in the documentation being incorrect or outdated.
    * Instead, open an issue on the [prismlauncher.org issue tracker](https://github.com/PrismLauncher/prismlauncher.org/issues). If you can, please [open a pull request](https://github.com/PrismLauncher/prismlauncher.org/pulls) to improve the documentation.
    * You can use the **Edit button** at the bottom of each documentation page for this purpose.
* Do **not** ask support questions. Please use other [community platforms](https://prismlauncher.org/#get-involved) instead.
* Do **not** submit bug reports. Please use the main [Prism Launcher repository's issue tracker](https://github.com/PrismLauncher/PrismLauncher/issues/new?assignees=&labels=bug&projects=&template=bug_report.yml) instead.
* Do **not** submit feature requests. Please use the [Prism Launcher repository's issue tracker](https://github.com/PrismLauncher/PrismLauncher/issues/new?assignees=&labels=enhancement&projects=&template=suggestion.yml) repository instead.
* Do **not** post off-topic comments. Comments must be strictly related to the page they are linked to.

Comments not following the above rules will be removed.
### Licensing of user-contributed comments

Launcher contributors may occasionally go through the comments and may incorporate information from them in the documentation. By submitting a comment, you accept that it may be incorporated in unmodified or modified form in the launcher and/or documentation, subject to the [GPL-3.0 license](https://github.com/PrismLauncher/PrismLauncher/blob/develop/LICENSE) for the launcher and [AGPL-3.0 license](https://github.com/PrismLauncher/prismlauncher.org?tab=AGPL-3.0-1-ov-file#readme) for the documentation.
{% endmarkdown %}
            </div>
        </details>
    <div class="giscus"></div>
</div>
<noscript>
    <div class="infobox">
        Comments Disabled (requires Javascript)
    </div>
    <style type="text/css">
		.comments { display:none; }
	</style>
</noscript>    
