<div class="notification type-success top">
    <div class="center">

        <h1>Ha, you have reached the end of the rainbow!</h1>
        <h2> Happy Pride Month!</h2>

        <img src=/img/lep.svg width=400em>
    </div>
</div>
<div class="footer">
    <div class="container">
        {% include "edit-on-github.njk" %}
        © 2022 Prism Launcher Contributors
        </h1>
    </div>
</div>
