<div class="footer">
© 2021-2022 PolyMC Contributors
<a href="https://discord.gg/xq7fxrgtMP"><img alt="discord server" src="https://img.shields.io/discord/923671181020766230?label=PolyMC%20Discord"></a>
<a href="https://matrix.to/#/#polymc:polymc.org"><img alt="Matrix Space" src="https://img.shields.io/matrix/polymc:polymc.org?label=PolyMC%20Space&server_fqdn=matrix.polymc.org"></a>
</div>