<header>
  <section class="hero">
    <div class="hero-head">
      <nav class="container">
        <div class="navbar">
          <a href="{{ '/' | url }}">
            <!--TODO: replace span with logo svg -->
            <span class="nav-item">
              PrismLauncher
            </span>
          </a>
          <ul class="nav">
            {%- for entry in collections.nav | eleventyNavigation %}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </div>
        <div class="links">
          <div class="social-links">
            <a href="https://discord.gg/prismlauncher" target="_blank"><i class="fa fa-discord"></i></a>
            <a href="https://matrix.to/#/#prismlauncher:matrix.org" target="_blank"><i class="fa fa-matrix-org"></i></a>
            <a href="https://www.reddit.com/r/PrismLauncher/" target="_blank"><i class="fa fa-reddit"></i></a>
            <a href="https://github.com/placeholdermc/PrismLauncher" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          <div>
            <a class="button" href="https://opencollective.com/prismlauncher">Donate</a>
          </div>
        </div>
      </nav>
    </div>
    
    {% if hero %}
    <div class="hero-body">
      <div class="row container">
        <div class="column">
          <div class="hero-description">
            <h1 class="hero-title">{{ hero.title }}</h1>
            <p class="subtitle">{{ hero.description }}</p>
          </div>
          </div class="image">
          {%- if hero.image %}
            <div class="column">
              {% image hero.title, hero.image.light, hero.image.dark %}
            </div>
          {%- endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </section>
</header>
