---
import { Icon } from "astro-icon/components";

interface Props {
	href: string;
	text: string;
	class?: string;
}

const { href, text, class: className = "" } = Astro.props;
---

<a
	href={href}
	class={`text-prism-link hover:underline text-sm inline-block not-prose ${className}`}
>
	<Icon name="lucide:arrow-left" size="14" class="inline mr-1" />
	{text}
</a>
